@model LibrarySys.Models.Entity.ReaderBorrow
@{
    ViewBag.Title = "Borrow";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<html>
<body>

    <div class="content">

        <div class="container">
            <div class="row align-items-stretch no-gutters input-wrap">
                <div class="col-md-12">
                    <div class="form h-100">
                        <h3 style="text-align:center; font-style:italic; color:grey">Създай заявка</h3>

                        <form class="mb-5" method="post" id="inputForm" name="inputForm">
                            *<div class="row">
                                <div class="col-md-12 form-group mb-3">
                                    <label for="" class="col-form-label">Книга: *</label>
                                    @Html.DropDownListFor(k => k.Book.ID_book, (List<SelectListItem>)ViewBag.b, new { @class = "form-control", @placeholder = "Въведи името на книгата" })
                                    @Html.ValidationMessageFor(k => k.Book.ID_book, "", new { @style = "color:red" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Име на читателя: *</label>

                                    @Html.DropDownListFor(k => k.Reader.ID_reader, (List<SelectListItem>)ViewBag.r, new { @class = "form-control", @placeholder = "Избери читателя" })
                                    @Html.ValidationMessageFor(k => k.Reader.ID_reader, "", new { @style = "color:red" })
                                </div>

                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Служител: *</label>
                                    @Html.DropDownListFor(k => k.Employee.ID_employee, (List<SelectListItem>)ViewBag.e, new { @class = "form-control", @placeholder = "Избери служителя" })
                                    @Html.ValidationMessageFor(k => k.Employee.ID_employee, "", new { @style = "color:red" })

                                </div>

                            </div>

                            <div class="row">


                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Дата на заемане:* <input type="text" class="none" name="CheckOutDate" value="@DateTime.Now.ToShortDateString()" /></label>

                                </div>

                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Препоръчителна дата на връщане:* <input type="text" class="none" name="ReturnDate"  value="@DateTime.Now.AddDays(10).ToShortDateString()"/></label>

                                </div>

                            </div>

                            <input type="hidden" value="false" name="Process" />

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="submit" value="Добави" class="btn btn-primary rounded-0 py-2 px-4">
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>


<link href="~/Content/style_inputs.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Panel/docs/assets/plugins/popper/esm/popper.min.js"></script>
<script src="~/Content/main_input.js"></script>
<style>
    label .none {
        border-style: none;
        font-size: 14px;
        color: #b3b3b3;
        margin: 0 0 10px 0;
    }
</style>


