@using LibrarySys.Models.Entity
@model List<ReaderBorrow>
@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<html>
<body>

    <section class="main-content">
        <div class="container">
            <h2 style="text-align:center" class="font-style:italic">@ViewBag.r</h2>
            <br />
            <table class=table>
                <thead>
                    <tr>
                        <th>Книга </th>
                        <th>Служител</th>
                        <th>Дата на заемане</th>
                        <th>Дата на връщане</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.Book.ID_book &nbsp; @item.Book.Title - &nbsp; @item.Book.Author.FirstName&nbsp; @item.Book.Author.LastName </td>

                            <td>@item.Employee.ID_employee &nbsp; @item.Employee.FirstName &nbsp; @item.Employee.LastName</td>
                            <td>@Convert.ToDateTime(item.CheckoutDate).ToString("dd/MM/yyyy")</td>
                            <td>@Convert.ToDateTime(item.ReturnReader).ToString("dd/MM/yyyy")</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </section>
</body>
</html>


<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/table style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

